{% extends "network/layout.html" %}

{% block body %}
<div class="container">
  <center>
    <h1>FOLLOWING</h1>
  </center>
  <br>
  <div class="container all-post-container">

    {% for post in posts %}
    <div class="row single-post">
      <a href="/profile/{{ post.user }}" style="color:black; text-decoration:none;" class="col-md-6">
        <span class="post-author">
          <i class="fa fa-user"></i>
          <span><b style="text-transform: capitalize; cursor: pointer;">{{ post.user }}</b></span>
        </span>
        <small class="follow-btn"><span>FOLLOWING</span>
          <span class="badge badge-pill badge-primary">{{ post.totalFollower }}</span>
        </small>
      </a>
      <div class="col-md-6 timestamp" style="text-transform: capitalize;">
        <!-- 2020/27/07 04:42 PM -->
        {{ post.timestamp }}
      </div>
      <br>
      <div class="col-12 post-body">
        {{ post.body }}
      </div>

      {% if user.is_authenticated %}
      <div class="col-9" id="{{ post.id }}">
        <div class="btn btn-primary vote-down" onclick="dislike('{{ post.id }}')">
          <i class="fa fa-thumbs-down"><span class="badge badge-pill badge-primary">{{ post.totalDislikes }}</span></i>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="btn btn-primary vote-up" onclick="like('{{ post.id }}')">
          <i class="fa fa-thumbs-up"><span class="badge badge-pill badge-primary">{{ post.totalLikes }}</span></i>
        </div>
      </div>

      {% endif %}
    </div>
    <br>
    <!-- post 1 -->
    {% empty %}
    <div class="row">
      <center><h2>No Post Yet!</h2></center>
    </div>
    {% endfor %}

  </div>
  <br>
  <br>
  <br>
  <br>
</div>
{% endblock %}