{% extends "network/layout.html" %}

{% block body %}
<div class="container">
  <div class="compose-post">
    <form action="" method="post">
      {% csrf_token %}
      <textarea name="post-body" id="post-textarea" placeholder="Whats on your mind?"></textarea>
      {% if user.is_authenticated %}
      <input type="submit" value="Post" class="btn btn-primary">
      {% else %}
      <div class="btn-sm btn-danger">
        Please Log In First
      </div>
      {% endif %}
    </form>
  </div>
  <hr>
  <center>
    <h2>ALL POST</h2>
  </center>
  <br>
  <div class="container all-post-container">

    {% for post in posts %}
    <div class="row single-post">
      <div class="col-md-6" onclick="alert('User Profile')">
        <span class="post-author">
          <i class="fa fa-user"></i>
          <span><b style="text-transform: capitalize; cursor: pointer;">{{ post.user.username }}</b></span>
        </span>
        <small class="follow-btn"><span>FOLLOWING</span>
          <span class="badge badge-pill badge-primary">{{ post.totalFollower }}</span>
        </small>
      </div>
      <div class="col-md-6 timestamp">
        <!-- 2020/27/07 04:42 PM -->
        {{ post.timestamp }}
      </div>
      <br>
      <div class="col-12 post-body">
        {{ post.body }}
      </div>

      {% if user.is_authenticated %}
      <div class="col-9" id="{{ post.id }}">
        <div class="btn btn-primary vote-down" onclick="dislike('{{ post.id}}')">
          <i class="fa fa-thumbs-down"><span class="badge badge-pill badge-primary">{{ post.totalDislikes }}</span></i>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="btn btn-primary vote-up" onclick="like('{{ post.id}}')">
          <i class="fa fa-thumbs-up"><span class="badge badge-pill badge-primary">{{ post.totalLikes }}</span></i>
        </div>
      </div>
      {% if post.user == request.user %}
      <div class="col-3 d-flex justify-content-end">
        <div class="btn btn-danger">
          Edit
        </div>
      </div>
      {% endif %}

      {% endif %}
      <!-- <br><br>
            <div class="col-12">
              <button class="btn">
                Comments <span class="badge badge-primary comments-count">3</span>
              </button>
            </div>
            {% if user.is_authenticated %}
            <br><br>
            <div class="col-12">
              <form action="" method="post">
                <div class="d-flex justify-content-center align-items-center">
                  <i class="fa fa-user"></i>&nbsp;&nbsp;
                  <span><b>{{ user.username }} </b></span>&nbsp;&nbsp;&nbsp;
                  <input type="text" class="form-control" placeholder="Add Comment">
                </div>
              </form>
            </div>
            {% endif %} -->
    </div>
    <br>
    <!-- post 1 -->
    {% empty %}
    <div class="row">
      <center><h2>No Post Yet!</h2></center>
    </div>
    {% endfor %}

  </div>
  <br>
  <br>
  <br>
  <br>
</div>
{% endblock %}