{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Social Network{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="{% static 'network/styles.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript">
    csrf_token = "{{ csrf_token }}";
  </script>
  <script src="{% static 'network/script.js' %}"></script>
</head>
<body>
  <style>
    .edit-cont{
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      background: rgba(0, 0, 0, 0.7);
      padding: 10rem 5rem;
    }
  </style>

  <div class="edit-cont">
    <form action="" method="post" id="edit-post-form">
      {% csrf_token %}
      <input type="hidden" id="post_id">
      <div class="form-group">
        <textarea class="form-control" id="edit_post" rows="10" autofocus ></textarea>
        <br><br>
        <center>
          <input type="submit" value="Update" class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="reset" class="btn btn-secondary">Reset</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="btn btn-danger" onclick="closeEditPost()">Discard</div>
        </center>
      </div>
    </form>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><h4>Network</h4></a>

    <div>
      <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="#"><strong></strong></a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">All Posts</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/following">Following</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile/{{ request.user }}" style="text-transform: capitalize;">{{ user.username }}'s Profile&nbsp;<i class="fa fa-user"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="body">
    {% block body %}
    {% endblock %}
  </div>
</body>
</html>